* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("IMG/freepik__upload__41262.jpeg") no-repeat center center fixed;
    background-size: cover;
}

.login-container {
    background: rgba(255, 255, 255, 0.073);
    backdrop-filter: blur(7px);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 360px;
    padding: 40px;
    text-align: center;

}

.login-container h1 {
    color: #77b900;
    font-size: 24px;
    margin-bottom: 20px;
    
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    border: 1px solid #ddd;
    border-radius: 30px;
    font-size: 17px;
    background: rgba(255, 255, 255, 0.073);
    color: #ddd;
    
}

.login-container button {
    width: 100%;
    padding: 12px;
    background-color: #77b900;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 25px;
}

.login-container button:hover {
    background-color: #5c8e00;
}

.login-container p {
    font-size: 14px;
    color: #a09090;
    margin-top: 30px;
   
}

.login-container a {
    color: #77b900;
    text-decoration: none;
    margin-top: 1px;
    
}

.login-container a:hover {
    text-decoration: underline;
    
}
